<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SoundTrack</title>
  </head>
  <body>
    <canvas id="myChart" width="600" height="600" style="margin:auto;border:3px;padding:10px"></canvas>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script type="text/javascript">
      var ctx = document.getElementById("myChart").getContext('2d');
      var chart = new Chart(ctx, {
          type: 'scatter',
          data: {
            datasets:[{
              label: "Beacon location",
              backgroundColor: "rgb(0, 0, 255)",
              data: [
                {
                  x: <%= beacons_data[0].position.x %>,
                  y: <%= beacons_data[0].position.y %>
                },
                {
                  x: <%= beacons_data[1].position.x %>,
                  y: <%= beacons_data[1].position.y %>
                },
                {
                  x: <%= beacons_data[2].position.x %>,
                  y: <%= beacons_data[2].position.y %>
                }
              ],
              pointStyle: "circle",
              showLine: false,
              pointRadius: 5
            }]
          },
          options: {
            responsive: false
          }
      });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io()
      var cnt = 0;
      socket.on("fire !", (message)=>{
        // update graph
        if (message.fire && cnt < 1 ){
          var _dataset = {
            label: "Sound location",
            backgroundColor: "rgb(255, 0, 0)",
            data: [
              {
                x: message.fire.x,
                y: message.fire.y
              }
            ],
            pointStyle: "circle",
            showLine: false,
            pointRadius: 5
          };
          chart.data.datasets.push(_dataset);
          chart.update();
          cnt ++;
        }
      })
    </script>
  </body>
</html>
